html {
	font-size: 65%;
}

/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featured_container {
	top: initial;
	bottom: 2rem;
	width: initial;
}

.featured_container_hidden {
	left: 2rem;
	bottom: -100vh;
}

.featured_container_minimized {
	bottom: calc(-100vh + 10rem);
	left: 2rem;
}

.featured_minimize {
	right: 3.5rem;
	display: initial;
}


/*--------------------------------------------------------------
# Location Switcher
--------------------------------------------------------------*/
.location_switcher_list_item {
	height: 10rem;
}