html {
	font-size: 90%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
}

.side_text {
	font-size: 1rem;
	color: #aaa;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute !important; /* Google maps has a default position of relative. */
}

.clear {
	clear: both;
}

h1 {
	font-size: 2.3rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.29rem;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
	margin: .2em 0;
}

p {
	font-size: 1rem;
}

a {
	text-decoration: underline;
}

.full_width_button {
	width: 100%;
	height: 3rem;
	padding: 1rem;
	line-height: 1rem;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #aaa;
	margin: 1rem auto 0;
	text-align: center;
	overflow: hidden;
}

.full_width_button:hover, .full_width_button:focus {
	background-color: #aaa;
	color: #fff;
}

/*
********************************
Article
*/

.article_container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.article_body {
	height: auto;
}

.article_body_hidden {
	max-height: 200px;
	overflow: hidden;
	position: relative;
}

.article_body_read_more {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	transition: all 600ms ease-out;
}

.article_body_read_more_hidden {
	opacity: 0;
}

.article_body_read_more_button {
	width: 100%;
	height: 3rem;
	padding: 1rem;
	line-height: 1rem;
	border-radius: 3px;
	border: 1px solid #aaa;
	margin: 1rem auto 0;
	text-align: center;
	overflow: hidden;
}

.article_body_read_more_button_hidden {
	height: 0;
	padding: 0;
	opacity: 0;
	border: 0;
}

.article_body_read_more_button:hover, .article_body_read_more_button:focus {
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
}

.article_heading {
	margin: 3rem auto 1rem auto;
}

.ingress {
	font-size: 1.2em;
	color: #aaa;
	font-style: italic;
	font-family: serif;
	margin-bottom: 2rem;
}

cite {
	color: #aaa;
	font-size: 1rem;
	font-style: italic;
	font-family: serif;
	text-align: right;
}

cite a {
	color: #aaa;
}

.article_extras_container {
	width: 100%;
	overflow: auto;
	position: relative;
}

.article_extras_overflow {
	width: 100px;
	height: 100%;
	position: absolute;
	right: 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

.article_extras {
	height: auto;
	width: 100%;
	min-width: 380px;
	/*background-color: #eee;*/
	margin: 0px 0 1rem;
	display: flex;
	align-items: center;
}

.article_extras_item {
	border-right: 1px solid #eee;
	padding: 0 15px;
}

.article_extras .article_extras_item:first-of-type {
	padding-left: 0;
}

.article_extras .article_extras_item:last-of-type {
	border-right: none;
}


/* Hides the pictures included in the Wikipedia article */
h2 > span#Bilder {
	display: none;
}

ul.mw-gallery-traditional {
	display: none;
}

/*
********************************
Featured
*/

.featured_container {
	max-width: calc(100% - 4rem);
	width: 500px;
	background-color: #fff;
	height: calc(100vh - 4rem);
	overflow-y: scroll;
	left: 2rem;
	top: 2rem;
	border-radius: 3px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	will-change: transform;
	position: absolute;
	z-index: 100;
	padding: 0 50px;

	transition: all 600ms ease-out, transform 300ms ease-out;
}

.featured_container_hidden {
	left: -550px;
	transform: scale(0.9, 0.9);
	z-index: 0;
}

.featured_image_container {
	width: calc(100% + 100px);
	height: 250px;
	margin-left: -50px;
	/*overflow: hidden;*/
	background-color: #eee;
}

.featured_image_container img {
	object-fit: cover;
	width: 100%;
	height: 250px;
}

.featured_image_figure figcaption {
	position: absolute;
	bottom: 20px;
	margin-left: 20px;
	color: #fff;
	font-size: 1.2rem;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.featured_image_figure figcaption i {
	z-index: 10;
	position: relative;
	padding: 5px;
	margin-left: -5px;
	margin-top: -5px;
	/*background-color: green;*/
}

.featured_image_figure figcaption i:hover + .img_credit {
	opacity: 1 !important;
	transform: scale(1, 1);
}

.img_credit {
	position: absolute;
	width: 200px;
	height: 1.4rem;
	background-color: #eee;
	font-size: .9rem;
	top: -0.1rem;
	left: 1.5rem;
	border-radius: 2px;
	padding: .2rem;
	/*padding-left: 1.2rem;*/
	text-shadow: none;
	color: #1f1f1f;
	font-weight: bold;
	text-transform: uppercase;
	pointer-events: none;
	letter-spacing: .7px;

	transition: all 250ms ease-out;
}

.featured_image_figure figcaption .img_credit {
	opacity: 0;
}

.featured_close, .featured_minimize {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 1000;
	font-size: 1.2rem;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.featured_minimize {
	display: none;
}

.foursquare_container, .weather_container {
	height: auto;
	margin: 3rem 0;
}

.foursquare_tip {
	margin-top: 1rem;
	background-color: #fff;
	padding: 1rem;
	/*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);*/
	border: 1px solid #eee;
	border-radius: 3px;
}

.foursquare_tip_left {
	float: left;
	width: 50px;
}

.foursquare_tip_right {
	float: right;
	width: calc(100% - 65px);
	height: auto;
}

.foursquare_tip_right_left {
	float: left;
	width: 100%;
	padding: 0 15px 0 0;
}

.foursquare_tip_right_right {
	float: left;
	width: 80px;
	min-height: 60px;
	height: auto;
	padding-top: 5px;
	color: #000;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
}

.foursquare_tip_profile_picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.foursquare_tip_profile_picture img {
	width: 100%;
}

.foursquare_tip_extras {
	color: #aaa;
	font-size: .75rem;
	margin-top: 5px;
}




/*
********************************
Locations switcher
*/

.location_switcher_container {
	width: calc(100% - 4rem);
	max-width: 500px;
	/*width: 100%;*/
	margin: 0 auto;
	position: relative;
	top: calc(100% - 6rem);
	height: 4rem;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 100;
	will-change: transform;

	transition: all 600ms ease-out;
}

.location_switcher_container_hidden {
	top: calc(100% + 1rem);
}

#location_switcher {
	height: 100%;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	z-index: 100;
	margin: 0 auto;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	position: relative;
	z-index: 10;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.location_switcher_width {
	width: 80%;
	margin: 0 auto;
}

.location_switcher_swipe_list {
	/*display: flex;*/
	/*flex-wrap: nowrap;*/
	/*flex-direction: row;*/
	/*overflow: hidden;*/
}

.location_switcher_search_field {
	width: 100%;
	height: 4rem;
	padding: 3rem;
	border: none;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

.location_switcher_type_filter {
	height: 5rem;
	border-bottom: 1px solid #eee;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.location_switcher_type_filter_instance {
	border-right: 1px solid #eee;
	width: 3rem;
	height: 100%;
	padding: 1rem;
	flex-grow: 1;
}

.location_switcher_type_filter_instance:hover, .location_switcher_type_filter_instance:focus {
	background-color: #eee;
	cursor: pointer;
}
.location_switcher_swipe_list_item {
	/*float: left;*/
	/*padding: 0 calc(50% - 50px);*/
	width: 300px;
}

#location_switcher_center {
	width: calc(100% - 8rem);
	height: 100%;
	line-height: calc(4rem - 2px);
	border: 4px solid #fff;
	border-left: none;
	border-right: none;
	border-radius: 5px;
}

#location_switcher_center:hover, #location_switcher_center:focus {
	background-color: #eee;
	cursor: pointer;
}

.location_switcher_arrow {
	width: 4rem;
	height: 100%;
	line-height: calc(4rem - 2px);
	text-align: center;
	border: 4px solid #fff;
	border-radius: 5px;
}

.location_switcher_arrow:hover, .location_switcher_arrow:focus {
	background-color: #eee;
	cursor: pointer;
}
.location_switcher_list_container {
	position: absolute;
	width: 100%;
	height: 600px;
	max-height: calc(100vh - 9rem);
	border-radius: 3px;
	box-shadow: inherit;
	bottom: calc(100% + 1rem);
	background-color: #fff;
	z-index: -1;
	overflow-y: scroll;
	will-change: transform;
	text-align: center;

	transition: all 200ms ease-out;
}

.location_switcher_list_container_hidden {
	bottom: 0%;
	height: 0;
	pointer-events: none;
}

#location_switcher_list {
	padding: 0;
}

#location_switcher_list li {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	height: auto;
	padding: 1rem 25%;
	list-style-type: none;
}

.location_switcher_list_title {
	color: #000;
	letter-spacing: 1px;
}

.location_switcher_list_type {
	color: #aaa;
	letter-spacing: 2px;
}

#location_switcher_list li:hover, #location_switcher_list li:focus {
	background-color: #eee;
	cursor: pointer;
	border-bottom: 1px solid #eee;
}


/*
********************************
Plug-ins
*/

/*
****************
Slick carousel
*/
button.slick-arrow {
	width: 50%;
	height: 100%;
	position: absolute;
	/*background-color: green;*/
	z-index: 100;
	opacity: 0;
	color: #fff;
	border: none;
	transition: 200ms all ease-out;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

button.slick-arrow:hover {
	opacity: 1;
}

button.slick-next {
	top: 0;
	right: 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

@media screen and (max-width: 1025px) {
	button.slick-arrow {
		display: none;
	}
}