/*

	Author: Erling Tokheim
	Author URI: https://github.com/etokheim

*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Defaults
# Google Maps
# Article
# Featured
# Location Switcher
# Plug-ins
	## Slick Carousel

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/
html {
	font-size: 90%;
	height: 100%;
	overflow: hidden;
	touch-action: manipulation;
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body, main {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

/*
	Apparently Safari ignores overflow hidden on the body
	element for some reason. Therefor I wrapped everything
	in an extra element.
*/
main {
	/*margin: 0;
	overflow: hidden;*/
}

.side_text {
	font-size: 1rem;
	color: #aaa;
}

.clear {
	clear: both;
}

h1 {
	font-size: 2.3rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.29rem;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
	margin: .2em 0;
}

h5 {
	font-size: 1rem;
	font-weight: bold;
}

p, div {
	font-size: 1rem;
}

a {
	text-decoration: underline;
}

.full_width_button {
	width: 100%;
	height: 3rem;
	padding: 1rem;
	line-height: 1rem;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #aaa;
	margin: 1rem auto 0;
	text-align: center;
	overflow: hidden;
	font-size: 1rem;
}

.full_width_button:hover, .full_width_button:focus {
	background-color: #aaa;
	color: #fff;
}


/*--------------------------------------------------------------
# Google Maps
--------------------------------------------------------------*/
#map {
	width: 100%;
	height: 100%;
	position: absolute !important; /* Google maps has a default position of relative. */
}

.info_window {
	width: 200px;
	max-width: 50vw;
}


/*--------------------------------------------------------------
# Article
--------------------------------------------------------------*/
.article_container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.article_body {
	height: auto;
}

.article_body_hidden {
	max-height: 150px;
	overflow: hidden;
	position: relative;
}

.article_body_read_more {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	pointer-events: none;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.article_body_read_more_hidden {
	opacity: 0;
	width: 0;
}

.article_body_read_more_button {
	width: 100%;
	height: 3rem;
	padding: 1rem;
	line-height: 1rem;
	border-radius: 3px;
	border: 1px solid #aaa;
	margin: 1rem auto 2rem;
	text-align: center;
	overflow: hidden;
}

.article_body_read_more_button_hidden {
	height: 0;
	padding: 0;
	opacity: 0;
	border: 0;
}

.article_body_read_more_button:hover, .article_body_read_more_button:focus {
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
}

.article_heading {
	margin: 3rem auto 1rem auto;
}

.ingress {
	font-size: 1.2rem;
	color: #aaa;
	font-style: italic;
	font-family: serif;
	margin-bottom: 2rem;
}

cite {
	color: #aaa;
	font-size: 1rem;
	font-style: italic;
	font-family: serif;
	text-align: right;
}

cite a {
	color: #aaa;
}

.article_extras_container {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
}

.article_extras_overflow {
	width: 100px;
	height: 100%;
	position: absolute;
	right: 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

.article_extras {
	height: auto;
	width: 100%;
	min-width: 379px;
	/*background-color: #eee;*/
	margin: 0px 0 1rem;
	display: flex;
	align-items: center;
}

.article_extras_item {
	border-right: 1px solid #eee;
	padding: 0 15px;
}

.article_extras_item i {
	padding-right: 4px;
}

.article_extras .article_extras_item:nth-of-type(2) {
	padding-left: 0;
}

.article_extras p {
	margin: 0;
}

.article_extras .article_extras_item:last-of-type {
	border-right: none;
}


/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
/*  
	Without will-change the browser repaints every frame on 
	scroll which makes it very performance heavy. This only
	affects the children - not grandchildren etc.
*/
.featured_container > * {
	transform: translateZ(0);
	will-change: transform;
	transform: translateZ(0);
}

.featured_container {
	max-width: calc(100% - 4rem);
	width: 600px;
	background-color: #fff;
	height: calc(100vh - 4rem);
	overflow-y: scroll;
	left: 2rem;
	top: 2rem;
	border-radius: 10px;
	box-shadow: 0px 5px 200px rgba(0, 0, 0, 0.5);
	will-change: transform;
	transform: translateZ(0);
	position: absolute;
	z-index: 100;
	padding: 0 50px;

	transition: all 600ms ease-out;
}

.featured_container_hidden {
	left: -650px;
	transform: scale(0.9, 0.9);
	/*z-index: 10;*/
}

.featured_image_container {
	width: calc(100% + 100px);
	height: 350px;
	margin-left: -50px;
	overflow: hidden;
	background-color: #eee;
}

.featured_image_container img {
	object-fit: cover;
	width: 100%;
	height: 350px;
}

.featured_image_figure figcaption {
	position: absolute;
	bottom: 20px;
	margin-left: 20px;
	color: #fff;
	font-size: 1.2rem;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.featured_image_figure figcaption i {
	z-index: 10;
	position: relative;
	padding: 5px;
	margin-left: -5px;
	margin-top: -5px;
}

.featured_image_figure figcaption i:hover + .img_credit {
	opacity: 1 !important;
	transform: scale(1, 1);
}

.img_credit {
	position: absolute;
	width: 200px;
	height: 1.4rem;
	background-color: #eee;
	font-size: .9rem;
	top: -0.1rem;
	left: 1.5rem;
	border-radius: 2px;
	padding: .2rem;
	text-shadow: none;
	color: #1f1f1f;
	font-weight: bold;
	text-transform: uppercase;
	pointer-events: none;
	letter-spacing: .7px;

	transition: all 250ms ease-out;
}

.featured_image_figure figcaption .img_credit {
	opacity: 0;
}

.featured_close, .featured_minimize {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 1000;
	font-size: 1.2rem;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.featured_minimize {
	display: none;
}

.foursquare_container, .weather_container {
	height: auto;
	margin: 3rem 0;
}

.foursquare_tip {
	margin-top: 1rem;
	background-color: #fff;
	padding: 1rem;
	border: 1px solid #eee;
	border-radius: 3px;
}

.foursquare_tip_left {
	float: left;
	width: 50px;
}

.foursquare_tip_right {
	float: right;
	width: calc(100% - 65px);
	height: auto;
}

.foursquare_tip_right_left {
	float: left;
	width: 100%;
	padding: 0 15px 0 0;
}

.foursquare_tip_right_right {
	float: left;
	width: 80px;
	min-height: 60px;
	height: auto;
	padding-top: 5px;
	color: #000;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
}

.foursquare_tip_profile_picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.foursquare_tip_profile_picture img {
	width: 100%;
}

.foursquare_tip_extras {
	color: #aaa;
	font-size: .75rem;
	margin-top: 5px;
}

/* Hides the pictures included in the Wikipedia article */
h2 > span#Bilder {
	display: none;
}

ul.mw-gallery-traditional {
	display: none;
}


/*--------------------------------------------------------------
# Location Switcher
--------------------------------------------------------------*/
/*
	Apple's mobile Safari's view port is higher then the screen
	height when the url bar is displayed. Since the location
	switcher was placed based on view port height, it was placed
	off the screen. To work around this I now use the bottom
	property.
*/
.top_position {
	width: 100%;
	pointer-events: none;
	position: absolute;
	bottom: 2rem;
}

.location_switcher_container {
	pointer-events: initial;
	width: calc(100% - 4rem);
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	height: 4rem;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 100;
	will-change: transform;
	transform: translateZ(0);
	top: 0;

	transition: all 600ms ease-out;
}

.location_switcher_container_hidden {
	top: 7rem;
}

#location_switcher {
	height: 100%;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	z-index: 100;
	margin: 0 auto;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	position: relative;
	z-index: 10;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.location_switcher_width {
	width: 80%;
	margin: 0 auto;
}

.location_switcher_search_field {
	width: calc(100% - 40px);
	height: 5rem;
	border: none;
	background-color: #fff;
	text-align: center;
	font-size: 2rem;
	margin: 20px 10px;

	transition: all 200ms ease-out;
}

.location_switcher_search_field:hover {
	border-radius: 10px;
	background-color: #f6f6f6;
}

.location_switcher_search_field:focus {
	background-color: #fff;

	/*
		For safari
	*/
	-webkit-appearance: none;
	-webkit-box-shadow: 0px 3px 200px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 3px 200px rgba(0, 0, 0, 0.4);
}

.location_switcher_filter {
	height: 6rem;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.location_switcher_filter_instance {
	border-right: 1px solid #eee;
	width: 3rem;
	height: 100%;
	padding: .7rem;
	flex-grow: 1;
	color: #aaa;
	cursor: pointer;
}

.location_switcher_filter_instance p:hover {
	background-color: #f6f6f6;
}

.location_switcher_filter_instance p {
	border-radius: 7px;
}

.location_switcher_filter_instance i {
	font-size: 3rem;
	height: 100%;
	line-height: 4.5rem;
	vertical-align: middle;
	
	transition: all 150ms ease-out;
	animation: filterBounceReverse 1000ms linear both;
}

.location_switcher_filter_active {
	color: #565656;
}

.location_switcher_filter_active i {
	/*font-size: 2.2rem;*/
	animation: filterBounce 1000ms linear both;
}

.location_switcher_swipe_list_item {
	width: 100%;
}



#location_switcher_center {
	width: calc(100% - 8rem);
	height: 100%;
	line-height: calc(4rem - 2px);
	border: 4px solid #fff;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	overflow: hidden;
	position: relative;
}

.location_switcher_tips {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	background-color: #fff;
	z-index: 10;

	transition: 300ms all ease-out;
}

.location_switcher_tips_hidden {
	opacity: 0;
}

#location_switcher_center:hover, #location_switcher_center:focus {
	background-color: #eee;
	cursor: pointer;
}

.location_switcher_arrow {
	width: 4rem;
	height: 100%;
	border: 4px solid #fff;
	border-radius: 5px;
}

.location_switcher_arrow i {
	line-height: calc(4rem - 2px);
	vertical-align: middle;
	text-align: center;
}

.location_switcher_arrow:hover, .location_switcher_arrow:focus {
	background-color: #eee;
	cursor: pointer;
}

/*  
	Without will-change the browser repaints every frame on 
	scroll which makes it very performance heavy. This only
	affects the children - not grandchildren etc.
*/
.location_switcher_list_container > * {
	will-change: transform;
	transform: translateZ(0);
}

.location_switcher_list_container {
	position: absolute;
	width: 100%;
	height: 600px;
	max-height: calc(100vh - 9rem);
	border-radius: 5px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	bottom: calc(100% + 1rem);
	background-color: #fff;
	z-index: -1;
	overflow-y: scroll;
	will-change: transform;
	transform: translateZ(0);
	text-align: center;

	animation: locationSwitcher 1000ms linear both;
}

.location_switcher_list_container_hidden {
	bottom: calc(0 + 1rem);
	height: 0;
	pointer-events: none;
	animation: none;

	animation: locationSwitcherReverse 150ms linear both;
}

#location_switcher_list {
	padding: 0;
}

.location_switcher_list_item {
	border-bottom: 1px solid #eee;
	height: 8.5rem;
	padding: 1rem;
	list-style-type: none;
	overflow: hidden;
	will-change: transform;
	transform: translateZ(0);

	transition: all 500ms ease-out;
}

.location_switcher_list_item_hidden {
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	height: 0 !important;
	padding: 0;
}

.location_switcher_list_title {
	color: #000;
	letter-spacing: 1px;
}

.location_switcher_list_type {
	color: #aaa;
	letter-spacing: 2px;
}

.location_switcher_list_type i {
	padding-right: 0;
}

#location_switcher_list li:hover, #location_switcher_list li:focus {
	background-color: #eee;
	cursor: pointer;
	border-bottom: 1px solid #eee;
}


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
/* Generated with Bounce.js. Edit at https://goo.gl/7c5KDK */
@keyframes filterBounceReverse { 
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.4% { transform: matrix3d(0.842, 0, 0, 0, 0, 0.797, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.7% { transform: matrix3d(0.775, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.81% { transform: matrix3d(0.67, 0, 0, 0, 0, 0.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { transform: matrix3d(0.558, 0, 0, 0, 0, 0.416, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.21% { transform: matrix3d(0.529, 0, 0, 0, 0, 0.387, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	13.61% { transform: matrix3d(0.438, 0, 0, 0, 0, 0.334, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { transform: matrix3d(0.43, 0, 0, 0, 0, 0.335, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.52% { transform: matrix3d(0.396, 0, 0, 0, 0, 0.38, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { transform: matrix3d(0.394, 0, 0, 0, 0, 0.406, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	21.32% { transform: matrix3d(0.402, 0, 0, 0, 0, 0.465, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	24.32% { transform: matrix3d(0.425, 0, 0, 0, 0, 0.52, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25.23% { transform: matrix3d(0.433, 0, 0, 0, 0, 0.531, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.03% { transform: matrix3d(0.469, 0, 0, 0, 0, 0.552, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { transform: matrix3d(0.476, 0, 0, 0, 0, 0.551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { transform: matrix3d(0.51, 0, 0, 0, 0, 0.519, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	36.74% { transform: matrix3d(0.514, 0, 0, 0, 0, 0.511, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { transform: matrix3d(0.52, 0, 0, 0, 0, 0.489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	44.44% { transform: matrix3d(0.517, 0, 0, 0, 0, 0.484, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { transform: matrix3d(0.504, 0, 0, 0, 0, 0.497, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	59.86% { transform: matrix3d(0.497, 0, 0, 0, 0, 0.505, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { transform: matrix3d(0.496, 0, 0, 0, 0, 0.504, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	75.28% { transform: matrix3d(0.499, 0, 0, 0, 0, 0.498, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { transform: matrix3d(0.501, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	90.69% { transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

/* Generated with Bounce.js. Edit at https://goo.gl/Vn2Euz */
@keyframes filterBounce { 
	0% { transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	3.4% { transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.7% { transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.81% { transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.21% { transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	13.61% { transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	17.52% { transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	21.32% { transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	24.32% { transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25.23% { transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.03% { transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	36.74% { transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	44.44% { transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	59.86% { transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	75.28% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	90.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes locationSwitcher { 
	0% { bottom: calc(0% + 1rem); height: 0; }
	4.3% { bottom: calc(51.427% + 1rem) }
	8.61% { bottom: calc(87.859% + 1rem); height: 600px; }
	12.91% { bottom: calc(105.228% + 1rem) }
	17.22% { bottom: calc(109.333% + 1rem) }
	28.33% { bottom: calc(102.063% + 1rem) }
	39.44% { bottom: calc(99.377% + 1rem) }
	61.66% { bottom: calc(100.042% + 1rem) }
	83.98% { bottom: calc(99.997% + 1rem) }
	100% { bottom: calc(100% + 1rem)} 
}

@keyframes locationSwitcherReverse { 
  0% { bottom: calc(100% + 1rem); height: 600px; }
  100% { bottom: 0; height: 0; } 
}





/*--------------------------------------------------------------
# Plug-ins
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Slick Carousel
--------------------------------------------------------------*/
button.slick-arrow {
	width: 50%;
	height: 100%;
	position: absolute;
	/*background-color: green;*/
	z-index: 100;
	opacity: 0;
	color: #fff;
	border: none;
	transition: 200ms all ease-out;
	pointer-events: none;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

button.slick-arrow i {
	padding: 30% 50% 30% 50%;
	pointer-events: initial;
	cursor: pointer;
	user-select: none;
}

button.slick-arrow:hover {
	opacity: 1;
}

button.slick-next {
	top: 0;
	right: 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

@media screen and (max-width: 1025px) {
	button.slick-arrow {
		display: none;
	}
}